# ==========================================
# CMAKE & KATALOGI BUDOWANIA
# ==========================================
build/
out/
Out/
bin/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile

# ==========================================
# VCPKG (Menedżer pakietów)
# ==========================================
# Ignorujemy pobrane i zbudowane lokalnie paczki
vcpkg_installed/

# ==========================================
# VISUAL STUDIO & IDE
# ==========================================
.vs/
*.user
*.suo
*.db
*.sln.docstates
.vscode/

# ==========================================
# PLIKI OBIEKTOWE I SKOMPILOWANE
# ==========================================
*.slo
*.lo
*.o
*.obj

# ==========================================
# PREKOMPILOWANE NAGŁÓWKI
# ==========================================
*.gch
*.pch

# ==========================================
# BIBLIOTEKI (Statyczne i Dynamiczne)
# ==========================================
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib

# ==========================================
# PLIKI WYKONYWALNE
# ==========================================
*.exe
*.out
*.app

# ==========================================
# INNE
# ==========================================
*.log
*.tmp